body {
    background: rgb(122, 122, 248);
    font: normal 15pt Arial;

}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px black;
    
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}

select#sellist{
    width: 150px;
}